### Pandas 기초
- 데이터 처리 라이브러리

#### Pandas 설치
```shell
!pip install pandas
```

#### PyArrow 설치
- Pandas에 새로 추가된 라이브러리
```shell
!pip install pyarrow
```

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

- Pandas 사용

In [4]:
# Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0)
import pandas as pd # pd로 줄여씀

#### 판다스 기본
- 시리즈, 데이터프레임 개념
- 판다스에서는 데이터프레밍 가장 기본. 데이터 처리 도중 잘라서 시리즈를 사용함

<img src="https://raw.githubusercontent.com/hugoMGSung/bigdata-analysis-2024/main/images/ba001.png" width="730">

In [6]:
# 데이터프레임 객체 - 2차원 배열
## 딕셔너리 생성
origin = {'이름': ['성유고', '애슐리', '홍길동'], '나이': [47,40,99], '결혼': [True, True, False]}
origin, type(origin)

({'이름': ['성유고', '애슐리', '홍길동'], '나이': [47, 40, 99], '결혼': [True, True, False]},
 dict)

In [7]:
## 딕셔너리로 데이터프레임 생성, 변수명을 보통 df로 사용
df = pd.DataFrame(data=origin)
df

    이름  나이     결혼
0  성유고  47   True
1  애슐리  40   True
2  홍길동  99  False

In [8]:
# 데이터 프레임타입
type(df)

pandas.core.frame.DataFrame

In [9]:
## 2. 파이썬 리스트로 데이터프렘임 생성
data = [['황주후', 52, '대전', True], 
        ['정관우', 72, '통영', True],
        ['박장비', 24, '광주', False],
        ['한조조', 48, '제주도', False]]
df2= pd.DataFrame(data=data)
df2

     0   1    2      3
0  황주후  52   대전   True
1  정관우  72   통영   True
2  박장비  24   광주  False
3  한조조  48  제주도  False

In [10]:
## 리스트로 DF를 만들면 컬럼 제목이 없기 때문에 추가를 해줘야 한다
df2 = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '결혼'])
df2

    이름  나이   주소     결혼
0  황주후  52   대전   True
1  정관우  72   통영   True
2  박장비  24   광주  False
3  한조조  48  제주도  False